#divHas-menuHeader {
	padding-bottom: 1rem;
}

@media screen and (min-width: 550px) {
	#divHas-menuHeader {
		padding: 0.75rem 0.5rem !important;
		gap: 2.5rem;
	}

	#divHas-cards-and-btn {
		.divHas-imgs {
			padding: 1rem !important;
		}
	}
}

@media screen and (min-width: 650px) {
	#divHas-cards-and-btn {
		.divHas-imgs {
			gap: 2rem;
			display: grid !important;
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media screen and (min-width: 900px) {
	#divHas-cards-and-btn {
		padding: 3rem;
	}
}
